span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #1f2d55;
    margin: 35px 5px;
    opacity: 0.4;
}
.loader{
    display: inline-block;
}
span:nth-child(1) {
    animation: bounce 1.3s ease-in-out infinite;
    -webkit-animation: bounce 1.3s ease-in-out infinite;
    -o-animation: bounce 1.3s ease-in-out infinite;
    animation: bounce 1.3s ease-in-out infinite;
}
 span:nth-child(2) {
    -webkit-animation: bounce 1.3s ease-in-out 0.44s infinite;
    -o-animation: bounce 1.3s ease-in-out 0.44s infinite;
    animation: bounce 1.3s ease-in-out 0.44s infinite;
}
span:nth-child(3) {
    animation: bounce 1.3s ease-in-out 0.88s infinite;
}
.hide{
    visibility: hidden !important;
    opacity: 0 !important;
}
@keyframes bounce{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
        opacity: 1;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }