<div class="container-fluid">
  <div class="row ">

    <div [class.searched-div]="searched" class="col-md-12  full-height row-eq-height">
      <div class="half-b-or gradient-1"></div>
        <div class="container row-eq-height align-items-center">
            <div class="col-md-12">
                <h1 class="app-title">Book finder</h1>
                <h3 class="app-subtitle">search and discover</h3>
                <div class="row">
                  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
                    <form [formGroup]="searchForm" (ngSubmit)="search()">
                      <div class="form-group search-input-group">
                        <input required formControlName="query" type="text" [class.required]="emptyQuery" class="form-control" placeholder="What are you looking for?">
                        <button class="btn btn-search">
                          <svg version="1.1" class="search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve">
                       <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
                         s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
                         c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
                         s-17-7.626-17-17S14.61,6,23.984,6z"/>
                       </svg>
                      </button>
                      </div>                   
                    </form>
                  </div>
                </div>
                
            </div>
        </div>
    </div>
    <section class="sect-80"  *ngIf="searched">
        <div class="col-md-12  row-eq-height" [@listAnimation]="books.length">
            <div class="container  align-items-end">
              <div class="row">
                  <div class="col-md-6 col-lg-4 col-sm-6 col-6" *ngFor="let book of books; let i = index">
                      <book-card [book]="book" ></book-card>   
                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-center" *ngIf="error">
                <p class="nores-title">{{errorMessage.title}}</p>
                <p class="nores-subtitle">{{errorMessage.subtitle}}</p>
              </div>
        </div>
        <div class="col-md-12">
          <div class="text-center">
            <loader  [visibility]="loaders.books.visibility"></loader>
          </div>   
        </div>
        <div class="col-md-12" *ngIf="totalBooks>0 && books.length<totalBooks">
          <div class="text-center" >
             <button class="btn btn-pink " (click)="loadOtherBooks($event)">Load more...</button>
          </div>
      </div>
    </section>
    
  </div>
</div>
